<header>
    <nav>
        <a href="/">MusicPlayer</a>
        <ul>
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/playlists/new">Add Playlist</a></li>
        </ul>
    </nav>
</header>