<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MusicPlayer</a>
        <button class="btn btn-primary">Login</button>
        <div>
            <p>
                MusicPlayer is an application allowing users to view tracks, artists, albums, genres, as well as
                create playlists
            </p>
        </div>
        <ul>
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/playlists/new">Add Playlist</a></li>
            <li><a href="/tracks">Tracks</a></li>
            <li><a href="/tracks/new">Add Track</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/artists/new">Add Artist</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/albums/new">Add Album</a></li>
            <li><a href="/genres">Gneres</a></li>
            <li><a href="/genres/new">Add Genre</a></li>
        </ul>
    </nav>
</header>