<h2>Search Playlists</h2>
<form action="/playlists" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<% searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% playlists.forEach(playlist => { %>
    <div><%= playlist.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/playlists/<%= playlist.id %>">View</a>
        <a class="btn btn-primary" href="/playlists/<%= playlist.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/playlists/${playlist.id}`}) %>
    </div>
<% }) %>