<h2><%= playlist.name %></h2>

<div class="form-row">
        <a class="btn btn-primary" href="/playlists/<%= playlist.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/playlists/${playlist.id}`}) %>
</div>
